/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Erase */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', 'Arial', sans-serif;
}

html, body {
    height: 100%;
}

/* Login Layout */

.login-container {
    background: linear-gradient(115.6deg, rgba(7, 72, 180, 0.76) 1.32%, rgba(47, 128, 237, 0.63) 98.71%) , 
    url('../images/background.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-card {
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 388px;
    padding: 24px 40px;
    border-radius: 8px;
}

.login-card img {
    width: 90px;
}

.login-card h1 {
    font-size: 48px;
    font-weight: bold;
    color: #0748B4;
}

.login-card form {
    width: 100%;
}

.btn-blue {
    background-color: #0748B4 ;
    border-radius: 24px;
    border: none;
    color: #fff;
    margin: 22px 0 0 0;
    padding: 20px;
    width: 100%;
    font-size: 20px;
}

.input-form {
    border-width: 0 0 1px 0;
    display: block;
    width: 100%;
    padding: 17px 24px;
    margin-bottom: 15px;
    font-size: 20px;
}

.input-form:focus, .btn-blue:focus{
    outline: none;
    border-width: 0 0 1px 0;
    border-color: #0748B4;
    display: block;
}

/* Default layout */

.container {
    display: grid;
    grid-template-columns: 260px 1fr;
    grid-template-rows: 56px 1fr;
    grid-template-areas:
    'header header'
    'sidebar .';
    height: 100%;
}

.header {
    grid-area: header;
    background: linear-gradient(to right, rgba(7, 72, 180, 0.76) 1.32%, rgba(47, 128, 237, 0.63) 98.71%),
    url('../images/background-header.jpg');
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 80px;
    height: 56px;
}

.header nav a, .header nav a:visited {
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
}


.sidebar {
    grid-area: sidebar;
    background-color: #fff;
    box-shadow: 2px 0px 2px 0px rgba(0,0,0,0.37);
}

.sidebar ul li a, .sidebar ul li a:visited {
    display: block;
    color: #000000;
    text-decoration: none;
    font-size: 20px;
    padding: 20px;
    transition: all 0.5s ease;
}

.sidebar ul li a:hover {
    color: #0748B4;
}

.sidebar ul li svg {
    margin-right: 10px;
    color: #0748B4;
}

/* Main content */

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 95%;
    margin: 0 auto;
    padding-right: 16px;
    align-items: center;
}

.main-options {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 47px 0;
}
.search-input {
    display: flex;
    align-items: center;
    width: 392px;
}

.search-input svg {
    color: #1775E0;
}

.search-input input {
    padding: 11px 11px 11px 42px;
    border: 1px solid #0748B4;
    width: 100%;
    border-radius: 6px;
    display: block;
}

.search-input input::placeholder {
    color: #1775E0;
}

.search-input input:focus {
    outline: none;
    box-shadow: 0px 0px 1px 1px rgba(7,72,180,1);
}

.icon-input {
    position: relative;
    top: 0px;
    left: 32px;
}

.btn-new {
    background-color: #0748B4;
    padding: 11px 35px;
    border-radius: 8px;
    display: block;
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
    transition: all .5s ease;
}

.btn-new:hover {
    background-color: rgb(4, 54, 136);
    color: #ffffff;
}

.btn-new:active {
    box-shadow: 0px 0px 2px 2px rgba(7,72,180,1);
}

/* Table */

.content {
    width: 100%;
    padding-left: 16px;
}

.content table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #cccccc;
}
.content table tr {
    border: 1px solid #cccccc;
}

.content table thead {
    width: 100%;
    background-color: #E3EBF6;
    color: #0748B4;
    font-size: 12px;
    text-transform: uppercase;
}

.content table thead tr th{
    width: 11%;
    text-align: center;
    padding: 15px;
}

.content table thead tr th:nth-child(1),
.content table thead tr th:nth-child(4),
.content table thead tr th:nth-child(7),
.content table thead tr th:nth-child(9) {
    width: 6%;
}

.content table thead tr th:nth-child(2), .content table thead tr th:nth-child(3) {
    width: 22%;
}

.content table tbody tr td {
    padding: 15px;
    text-align: center;
}



